{% extends 'addresses/base.html' %}
{% load static %}
{% block content %}
{% include 'addresses/messages.html' %}
<div>
    <div class="container" style="margin-top: 30px;">
        
        <div>
        <div class="row">
            
            <div class="col-12 col-md-8">
                <div class="Text-heading">
                    Your Events
                </div>
                <br>
                {% if MySize == 0 %}
                <p>You have not hosted any events yet</p>
                {% else %}
                <table class="table table-striped table-dark" style="text-align: center;"> 
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Attendees</th>
                        <th scope="col">Location</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Dated</th>
                        <th scope="col">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for Event in My %}
                      <tr>
                        <td>{{ Event.event_name}}</td>
                        <td>{{ Event.event_attendants}}</td>
                        <td>{{ Event.location}}</td>
                        <td>{{ Event.Contact}}</td>
                        <td>{{ Event.date_posted}}</td>
                        <td><a href="{% url 'deleteevent' Event.event_name %}"><button type="button" class="btn btn-danger"><i class="fa-solid fa-trash"></i>&nbsp; Delete</button></a>

                        </td>
                      </tr>
                    {% endfor %}  
                    </tbody>
                  </table>
                  {% endif %}
                  <br>
                <div class="Text-heading">
                    Nearby Events
                </div><br>
                <table class="table table-striped table-dark" style="text-align: center;"> 
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Attendees</th>
                        <th scope="col">Location</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Dated</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for Event in Events %}
                      <tr>
                        <td>{{ Event.event_name}}</td>
                        <td>{{ Event.event_attendants}}</td>
                        <td>{{ Event.location}}</td>
                        <td>{{ Event.Contact}}</td>
                        <td>{{ Event.date_posted}}</td>
                        </td>
                      </tr>
                    {% endfor %}  
                    </tbody>
                  </table>
                  <br>
                </div>
            
            <div class="col-12 col-md-4">
                <div id='map1' style='width: 100%; height: 500px;'></div>
            </div>
        </div>
    </div>
    </div>
    <script>
    mapboxgl.accessToken = '{{ access_token }}';
    const map = new mapboxgl.Map({
    container: 'map1', // container ID
    style: 'mapbox://styles/mapbox/streets-v12', // style URL
    center: [73.8560625, 18.4051604], // starting position [lng, lat]
    zoom: 9, // starting zoom
    });
    {% for event in Events %}
        // Create a new marker.
        var marker = new mapboxgl.Marker({ "color": "#b40219" })
            .setLngLat([{{event.ngolong}}, {{event.ngolat}}])
            .setPopup(new mapboxgl.Popup().setHTML("<h3>{{NGO.location}}</h3>"))
            .addTo(map);
    {% endfor %}
    </script>
</div>
{% endblock %}