{% extends 'addresses/base.html' %}
{% load static %}
{% block content %}
{% include 'addresses/messages.html' %}
<div class="container">
    <div class="content-section">
        <form action="/register/" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
            <div class="Text-heading">Registration</div>             
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" name="username">
            </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <!-- <input type="password" class="form-control" name="password1"> -->
                <input type="password"  class="form-control" name="password1" aria-describedby="passwordHelpBlock">
                <div id="passwordHelpBlock" class="form-text">
                  Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Confirm Password</label>
                <input type="password" class="form-control" name="password2">
              </div>
            </fieldset>
              <button type="submit" class="btn btn-primary">Create Account</button>
              </form>
        <div class="border-top pt-3">
            <small class="text-muted">Already have an account? <a href="{% url 'login' %}">Sign In</a></small>
        </div>
    </div>
</div>
{% endblock %}